gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart/Pub related
.dart_tool/
.pub/
.packages
pubspec.lock

# Android/Gradle related
**/build/
.gradle/
/.gradle/
/android/.gradle/
*.iml
android/app/.cxx/


# iOS related (if applicable)
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/build/

# General IDE/editor files
.idea/
*.swp
.vscode/